.nav-wrap{position:relative;*z-index:2;width:100%;}
.nav{position:relative;width:1010px;height:40px;margin:0 auto;padding-left:190px;}
.goods{position:absolute;top:0;left:0;width:200px;height:40px;cursor: pointer;}
.goods .title{background:#e57f10;}
.goods h2 a,.goods .title{display:block;height:35px;padding-left:40px;line-height:40px;color:#fff;}
.goods h2 a:hover{text-decoration:none;}
.cf:after {content:"";clear:both;display:block;height:0;overflow:hidden}
.cf {zoom:1}
.fl{display:inline;float:left}.fr{display:inline;float:right}
.lh36 {line-height:36px}
.lh30 {line-height:30px}
.pl20 {padding-left:20px}

h2{font-family:"microsoft yahei";font-size:14px;}
.wd240{width:240px;}
.wd252{width:232px;}
.ht399{height:399px;}
.ht14{height:14px;}
.lh33{line-height:33px;}
.lh23{line-height:23px;}
.lh12{line-height:12px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pr20{padding-right:20px;}
.wd204{width:204px;}
.wd443{width:443px;}
.wd185{width:185px;}
.ml19{margin-left:19px;}
.pt30{padding-top:30px;} 
.pb12{padding-bottom:12px;}
.bt{border-top:1px solid #eae7e7;}
.gray{color:#999;}
.blee{border-left:1px solid #eeeeee;}
.fwblod{font-weight:bold;}

.nav-list{height:40px;}
.nav-list li{float:left;margin-right:1px;}
.nav-list a{display:block;height:40px;float:left;padding:0 15px;text-align:center;color:#fff;font:bold 15px/40px "microsoft yahei";text-decoration:none;}
.nav-list a:hover{background:#d25400;text-decoration:none;}
.nav-list a.on{background:#d25400;}
.all-goods{display:none;position:absolute;top:37px;left:0;width:200px;height:380px;background:rgba(0,0,0,0.8);z-index: 999;}
.all-goods .item{width:200px;height:36px;}
.all-goods .btnone{border-top:none;margin-top: 10px;}
.all-goods .item .product{position:absolute;z-index:999;width:200px;height: 35px;}
.item .product h3{width:100%;height: 100%;}
.item .product a{display: inline-block;padding-left:40px;width:100%;height: 100%;color: #ffffff;line-height: 35px;box-sizing:border-box;font-size: 14px;font-family: 宋体}


.all-goods .product-wrap{position:absolute;width:363px;height:381px;z-index:99;background:#ffffff;padding:0px;display:none;box-shadow: 0px 0px 3px #333333}
.all-goods .product-wrap p{color:#999999;}

.all-goods .pos01{left:200px;top:-2px;}
.all-goods .pos02{left:200px;top:-2px;}
.all-goods .pos03{left:200px;top:-2px;}
.all-goods .pos04{left:200px;top:-2px;}
.all-goods .pos05{left:200px;top:-2px;}
.all-goods .pos06{left:200px;top:-2px;}
.all-goods .pos07{left:200px;top:-2px;}
.all-goods .pos08{left:200px;top:-2px;}
.all-goods .pos09{left:200px;top:-2px;}
.all-goods .pos10{left:200px;top:-2px;}
.all-goods .product-wrap h2{font-size:16px;color:#333;font-weight:bold;}
.all-goods .product-wrap h2 a{height:auto;line-height:16px;color:#333;padding-left:0;}
.all-goods .product-wrap ul{border-top:none;}
.all-goods .product-wrap ul li{float:left;display:inline;margin-right:15px;margin-top:15px;white-space:nowrap;}

.all-goods .product-wrap ul li a:hover{text-decoration:none;background-position:-8px -219px;color:#ff6600;}
.all-goods .product-wrap div dd,.all-goods .product-wrap div dl a{display:block;width:185px;height:120px;overflow:hidden;}
.all-goods .active{
	background-color: #e57f10;
}
.aside-menu-hidden{
	min-width: 1200px;
}
.clearfix .logo{
	width: 182px;
    height: 32px;
    background: #ffffff;
    margin-top: 32px;
    float: left;
}
.app-header .public-nav{
	height: 23px;
	line-height: 23px;
	background: #3a3a3a;
}
.app-header .public-nav .contain{
	height: 23px;
	line-height: 23px;

}
.app-header .public-nav .contain .head-branch{
	height: 23px;
	line-height: 23px;
	color:#a5a5a5; 
	font-size: 12px;
}
 .public-nav .contain .head-part{
 	margin-left: 50px;
	height: 23px;
	line-height: 23px;
	color:#a5a5a5; 
	font-size: 12px;
}
.landing {
	display: inline-block;
	margin-left: 15px;
	width: auto;
    height: 23px;
    float: right;
    line-height: 23px;
    font-size: 12px;
    cursor: pointer;
	color: #ffffff;
}
.landings{
	display: inline-block;
	margin-left: 50px;
	width: auto;
    height: 23px;
    float: right;
    line-height: 23px;
    font-size: 12px;
    cursor: pointer;
	color: #ffffff;
}
.clearfix .public-header .input-container{
	margin:28px 0 0 100px; 
}
.shopping{
	display:inline-block;
	margin-top: 28px;
	margin-left: -70px;
	width: 123px;
	height: 40px;
	background: url("../../assets/shopping.png");
}
.asset-contain-left{
	float: left;
	width: 94px;
	height: 40px;
    background: #ffffff;
}
.asset-contain-left p{
	text-align: left;
	font-size: 12px;
	color: #333333;
}
.asset-contain-left .p-top{
	margin-bottom:9px; 
}
.asset-contain-left p a{
	font-size: 12px;
	color: #e57f10;
}
.asset-contain-right{
	float: left;
	width: 40px;
	height: 40px;

}
.asset-contain-right a{
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #ffffff;
	border-radius: 50%; 
}
.clearfix .nav-wrap{
    height: 36px;
}
.nav>a{
    display: inline-block;
    margin-left: 50px;
    width: 32px;
    height: 35px;
    font-size: 16px;
    color: #333333;
    line-height: 35px;
}
.common-footer .part >div{
	margin:3px auto; 
    background:url("../../assets/footer1.png") no-repeat 0 0; 
}
.common-footer .next2 >div{
	margin:3px auto; 
    background:url("../../assets/footer2.png") no-repeat 0 0; 
}
.common-footer .next3 >div{
	margin:3px auto; 
    background:url("../../assets/footer3.png") no-repeat 0 0; 
}
.common-footer .next4 >div{
	margin:3px auto; 
    background:url("../../assets/footer4.png") no-repeat 0 0; 
}
.common-footer .common-copyright{
	overflow: hidden;
}
.common-copyright .common-copyright-in{
	margin: 0 auto;
	width: 1200px;
	height: 260px;
}
.common-copyright-in ul{
	float: left;
}
.common-copyright-in .copyright-in-ulone{
	margin-left: 30px;
	margin-right: 112px;
	margin-top: 40px;
	text-align: center;
	font-size: 16px;
	color: #333333;
}
.common-copyright-in ul .in-ul-title{
    margin-bottom: 26px;
    font-size: 20px;

}
.common-copyright-in .copyright-in-ulone .red-phone{
	margin-top: 10px;
	margin-bottom: 12px;
    font-size: 24px;
    color: #fa4b1b;
}
.common-copyright-in .copyright-in-ulone .in-ul-footer{
	margin-top:26px;
	font-size: 14px;
}
.common-copyright-in .copyright-in-ul{
	margin-top: 40px;
	margin-right: 110px;
	color:#777777;
	text-align: left;
	font-size: 14px;
}
.copyright-in-ul li{
	margin-top: 20px;
}
.copyright-in-ul .in-ul-title{
	margin-top: 0;
	margin-bottom: 3px;
    font-size: 20px;
    color: #333333;
}
.common-copyright-in .copyright-in-ul-pic{
	margin-top: 40px;
	margin-right: 50px;
	color: #333333;
	font-size: 14px;
	text-align: center;
}
.common-copyright-in .copyright-in-ul-pic .in-ul-title{
	margin-bottom: 10x;
	font-size: 14px;

}
.common-copyright-in .copyright-in-ul-pic li{
	margin-top: 0;
}
.copyright-in-ul-pic i{
	display: inline-block;
	width: 113px;
	height: 110px;
	background:url("../../assets/erbg.png") no-repeat 0 0; 
}




.common-copyright-in .copyright-in-ul-picone{
	margin-top: 40px;
	color: #333333;
	font-size: 14px;
	text-align: center;
}
.common-copyright-in .copyright-in-ul-picone .in-ul-title{
	margin-bottom: 10x;
	font-size: 14px;

}
.common-copyright-in .copyright-in-ul-picone li{
	margin-top: 0;
}
.copyright-in-ul-picone i{
	display: inline-block;
	width: 113px;
	height: 110px;
	background:url("../../assets/erbg.png") no-repeat 0 0; 
}
.common-copyright-in p{
    float: left;
    width: 100%;
    margin-top: 15px;
    color: #333333;
    font-size: 12px;
    text-align: center;
}
.index .center{
	min-width: 1200px;
    width: 100%;
    height: auto;
    background: #ffffff;
}
.center .center-in{
	margin: 10px auto;
	width: 1200px;
	height: 100%;
}
.center .banner{
	width: 100%;
	height:380px;
}
.center-in .center-in-top{
	width: 100%;
	height: 125px;
}
.center-in-top ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.center-in-top ul li{
	float: left;
	margin-right: 17px;
	width: 225px;
	height: 100%;
}
.center-in-top ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.center-in-top ul li a img{
    height: 100%;
    width: 100%;
}
.center-in-top .center-in-top-submit {
	margin: 0;
	float: left;
    height: 100%;
    width: 257px;
}
.center-in-top-submit  p{
	color: #333333;
	font-size: 12px;
}
.center-in-top-submit input{
	display: inline-block;
	margin-top: 10px;
	padding-left: 5px;
	border: 1px solid #2f93f2;
	width: 120px;
	height: 19px;
}
.center-in-top-submit textarea{
	display: inline-block;
	padding-top: 3px;
	padding-left:5px; 
	height: 45px;
	width: 246px;
	color: #8c8c8c;
	outline: none;
	border: 1px solid #2f93f2;
}
.center-in-top-submit button{
	width: 99%;
	height: 28px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	background-color: #2f93f2;
}
.center-in .super-shopping{
	margin-top: 25px;
 	width: 100%;
 	height: 364px;
}
.super-shopping h3{
	display: block;
	
	font-size: 22px;
	color: #333333;
}
.super-shopping .super-shopping-pic-box{
	width: 100%;
	height: 346px;
	overflow: hidden;
}
.super-shopping-pic-box ul{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
.super-shopping-pic-box ul li{
	float: left;
	margin-top: 10px;
	margin-right: 12px;
	width: 230px;
	height: 95%;
}
.super-shopping-pic-box ul li a{
	display: inline-block;
	width: 230px;
	height: 100%;
}
.super-shopping-pic-box ul li a{
	display: inline-block;
	position: relative;
	width: 230px;
	height: 100%;
	text-align: center;
	font-size: 12px;
	color: #333333;
}
.super-shopping-pic-box ul li a img{
	display: inline-block;
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.super-shopping-pic-box ul li a p{
	display: inline-block;
	position: absolute;
    top: 236px;
    left: 0;
    width: 100%;
    height: 110px;
}.super-shopping-pic-box ul li a p span{
	display: inline-block;
}
.super-shopping-pic-box ul li a p .shopping-title{
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
	color: #333333;
}
.super-shopping-pic-box ul li a p .shopping-num{
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
	color: #777777;
	
}
.super-shopping .super-shopping-pic-box ul li a p .shopping-money{
	text-align: center;
	font-size: 14px;
	color: #eb6022;
}
.center .center-in-center-box{
	margin-top: -122px;
	padding-top: 117px;
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
	overflow: hidden;
}
.center-in-center-box .center-box-center-in{
	margin:0 auto;
	margin-top: 65px;
	width: 1200px;
	height: 100%;
}
.center-box-center-in .center-shopping-box{
	height: 790px;
	width: 100%;
}
.center-shopping-box h3{
	display: block;
	margin-bottom: 20px;
	font-size: 22px;
	color: #333333;
}
.center-shopping-box .shopping-box-center{
	width: 100%;
	height: 600px;
/*	overflow: hidden;*/
}
.shopping-box-center .box-center-left{
	float: left;
	height: 100%;
	width: 228px;
}
.shopping-box-center .box-center-left a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.shopping-box-center .box-center-left a img{
	width: 100%;
	height: 100%;
}
.shopping-box-center .box-center-right{
	float: left;
	/*margin-left: 10px;*/
	width: 960px;
	height: 100%;
	/*overflow: hidden;*/
}
.box-center-right .box-center-right-top{
	margin-bottom: 20px;
	height: 290px;
	width: 100%;
	/*overflow: hidden;*/
}
.box-center-right .box-center-right-top ul{
	margin-left: 10px;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
.box-center-right .box-center-right-top ul li{
	float: left;
	margin-right: 12px;
	width: 230px;
	height: 100%;
}
.box-center-right .box-center-right-top ul li a{
	display: inline-block;
	width: 230px;
	height: 100%;
}
.box-center-right .box-center-right-top ul li a{
	display: inline-block;
	position: relative;
	width: 230px;
	height: 100%;
	text-align: center;
	font-size: 12px;
	color: #333333;
}
.box-center-right .box-center-right-top ul li a img{
	display: inline-block;
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.box-center-right .box-center-right-top ul li a p{
	display: inline-block;
	position: absolute;
    top: 215px;
    left: 0;
    width: 100%;
    height: 110px;
}
.box-center-right .box-center-right-top ul li a p span{
	display: inline-block;
}
.box-center-right .box-center-right-top ul li a p .shopping-title{
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
	color: #333333;
}
.box-center-right .box-center-right-top ul li a p .shopping-num{
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
	color: #777777;
	
}
.box-center-right .box-center-right-top ul li a p .shopping-money{
	text-align: center;
	font-size: 14px;
	color: #eb6022;
}
.box-center-right .box-center-right-bottom{
	margin-bottom: 18px;
	height: 290px;
	width: 100%;
	/*overflow: hidden;*/
}
.box-center-right .box-center-right-bottom ul{
	margin-left: 10px;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}
.box-center-right .box-center-right-bottom ul li{
	float: left;
	margin-right: 12px;
	width: 230px;
	height: 100%;
}
.box-center-right .box-center-right-bottom ul li a{
	display: inline-block;
	width: 230px;
	height: 100%;
}
.box-center-right .box-center-right-bottom ul li a{
	display: inline-block;
	position: relative;
	width: 230px;
	height: 100%;
	text-align: center;
	font-size: 12px;
	color: #333333;
}
.box-center-right .box-center-right-bottom ul li a img{
	display: inline-block;
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.box-center-right .box-center-right-bottom ul li a p{
	display: inline-block;
	position: absolute;
    top: 215px;
    left: 0;
    width: 100%;
    height: 110px;
}
.box-center-right .box-center-right-bottom ul li a p span{
	display: inline-block;
}
.box-center-right .box-center-right-bottom ul li a p .shopping-title{
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
	color: #333333;
}
.box-center-right .box-center-right-bottom ul li a p .shopping-num{
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
	color: #777777;
	
}
.box-center-right .box-center-right-bottom ul li a p .shopping-money{
	text-align: center;
	font-size: 14px;
	color: #eb6022;
}
.center-shopping-box .shopping-box-bottom{
	margin-top: 25px;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.center-shopping-box .shopping-box-bottom a{
    width: 100%;
    height: 120px;
}
.center-shopping-box .shopping-box-bottom a img{
    width: 100%;
    height: 120px;
}
.center-in-center-box .history-record-box{
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom:30px; 
	width: 1200px;
	height: 190px;
	background-color: #ffffff;
} 
.history-record-box >p{
	width: 100%;
	height: 45px;
	text-align: center;
	color: #333333;
	font-size: 22px;
	line-height: 45px;
}
.history-record-box ul{
	height: 145px;
	width: 100%;
    overflow: hidden;
    border-top: 1px solid #f5f5f5;
}
.history-record-box ul li{
	float: left;
	height: 100%;
	width: 299px;
	overflow: hidden;
	border-right: 1px solid #f5f5f5;
}
.history-record-box ul li img{
    display: inline-block;
    margin: 11px;
    float: left;
    width: 120px;
    height: 120px;
}
.history-record-box ul li p{
    display: inline-block;
    float: left;
    margin: 11px;
    margin-left: 0;
    width: 146px;
    height: 115px;
}
.history-record-box  ul li a p span{
	display: inline-block;
}
.history-record-box  ul li a p .shopping-title{
	margin-bottom: 5px;
	text-align: center;
	font-size: 12px;
	color: #333333;
}
.history-record-box  ul li a p .shopping-center{
	margin-bottom:5px;
	width: 146px;
	height: 30px;
	overflow: hidden;
	text-align: left;
	font-size: 12px;
	line-height: 15px;
	color: #777777;
	
}
.history-record-box  ul li a p .shopping-num{
	margin-bottom: 5px;
	text-align: center;
	font-size: 12px;
	color: #777777;
	
}

.history-record-box  ul li a p .shopping-money{
	text-align: center;
	font-size: 12px;
	color: #eb6022;
}
.banner .carousel{
	padding:0 !important; 
	height: 380px !important;
	overflow: hidden;
}
.carousel .carousel-item img{
	width: 100%;
	height: 100%;
}

.super-shopping-pic-box ul li{
	transition: all .2s linear;

}

.super-shopping-pic-box ul li:hover{
	box-shadow: 0 0 10px #dedede;
}
.box-center-right-top ul li{
	transition: all .2s linear;

}

.box-center-right-top ul li:hover{
	box-shadow: 0 0 15px #dedede;
}
.box-center-right-bottom ul li{
	transition: all .2s linear;

}

.box-center-right-bottom ul li:hover{
	box-shadow: 0 0 15px #dedede;
}
.carousel-indicators .carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0;
}
.carousel-indicators .carousel-dot.active{
	background: #f5f5f5;
}
.product h3 a i{
	display: inline-block;
	float: right;
    margin-top: 12px;
    margin-right: 20px;
	height: 9px;
	width: 5px;
	background:url("../../assets/jiantou.png") no-repeat 0 0;
}
.item >div ul{
	border: none;
	margin-left: 25px;
	padding-top: 15px;
	width: 336px;
	height: 100%;
	overflow: hidden;
}
.item >div ul li{
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	margin-top: 0;
	margin-bottom: 10px;
	width: 115%;
	overflow: hidden;
}
.item >div ul li h4{
	float: left;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 14px;
}
.item >div ul li a {
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 12px;
	text-align: center;
	line-height: 12px;
	color: #333333;
}
.item >div ul li a span{
	font-size: 12px;
}
.min-land{
	width: 100%;
	min-width: 1200px;
	height: 100%;
	background-color:#ffffff; 
}
.min-land .header-land{
	width: 100%;
	min-width: 1115px;
	height: 98px;
	background-color: #ffffff;

}
.min-land .center-land{
	width: 100%;
	height: 590px;
	background:url("../../assets/land-center.png") no-repeat 0 0;
}
.header-land .header-land-in{
	margin: 0 auto;
	width: 1115px;
	height: 100%;
	background-color: #ffffff;
}
.header-land-in img{
	margin-top: 32px;
}
.center-land-in {
	margin: 0 auto;
	width: 1115px;
	height: 100%;
}
.center-land-in .center-land-box {
    float: right;
    margin-top: 32px;
    width: 410px;
    height: 525px;
    background-color:#ffffff; 
}
.center-land-box h2 {
	display: inline-block;
	margin-top: 27px;
	margin-bottom: 41px;
	width: 100%;
	height:auto;
	font-size: 28px;
	color: #e57f10;
	text-align: center;
}
.center-land-box  .land-input-box{
	position: relative;
	margin: 0 auto;
	width: 348px;
	height: 274px;
}
.land-input-box input{
	display: inline-block;
	margin-bottom: 20px;
	padding: 0 15px;
	width: 100%;
	height: 49px;
	font-size: 16px;
	color: #777777;
	line-height: 49px;
	border: 1px solid #b2b2b2;
	box-sizing: border-box;
	border-radius: 2px;

}
.land-input-box button{
	display: inline-block;
    width: 100%;
    height: 49px;
    font-size: 16px;
    line-height: 49px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    background-color: #e57f10;
    border-radius: 2px;
}
.land-input-box img{
	display: inline-block;
	position: absolute;
	left: 234px;
	top: 142px;
    width: 110px;
    height: 40px;
    cursor: pointer;
}
.center-land-box p{
	width: 100%;
	height: auto;
	font-size: 16px;
	color: #777777;
	text-align: right;

}
.center-land-box p a{
	display: inline-block;
	margin:0 10px; 
	font-size: 16px;
	color: #777777;
}
.center-land-box p .margin-r{
	padding-right: 19px;
}
.footer-land{
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	overflow: hidden;
}
.footer-land .footer-land-in{
	margin: 0 auto;
	width: 1115px;
	height: 100%;
	background-color: #ffffff;
}
.footer-land-in p{
	width: 100%;
	height: auto;
	margin-top: 80px;
	text-align: center;
	font-size: 12px;
	color: #333333;
}