@media screen and (min-width: 720px) {
    html {
        font-size: 72px !important;
    }
}

input[type="button"],
input[type="submit"],
input[type="reset"] {

    -webkit-appearance: none;
    border-radius: 0;

}

input {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #777777;
}

textarea {
    -webkit-appearance: none;
}

.button {
    border-radius: 0;
}

body {
    background-color: #fff;
    font-family: 'microsoft yahei';
    max-width: 720px;
    min-width: 240px;
    margin: 0 auto;
}

a {
    cursor: pointer;
    text-decoration: unset;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
}

button,
textarea {
    outline: none;
}

textarea::-webkit-input-placeholder {
    color: #a4a4a6;
}

textarea::-moz-placeholder {
    color: #a4a4a6;
}

textarea:-ms-input-placeholder {
    color: #a4a4a6;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    position: relative;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
    float: left;
}

.col-xs-1 {
    width: 8.333333333333332%;
}

.col-xs-2 {
    width: 16.666666666666664%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333333333333%;
}

.col-xs-5 {
    width: 41.66666666666667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.333333333333336%;
}

.col-xs-8 {
    width: 66.66666666666666%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333333333334%;
}

.col-xs-11 {
    width: 91.66666666666666%;
}

.col-xs-12 {
    width: 100%;
}

.row {
    margin: 0;
    padding: 0 0.25rem;
}

.fl {
    float: left;
}

.fr {
    float: right
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    color: #333333;
    font-weight: normal;
}

h1 {
    font-size: 0.476004rem;
    /* 34px */
}

h2 {
    font-size: 0.448004rem;
    /* 32px */
}

h3 {
    font-size: 0.420003rem;
    /* 30px */
}

h4 {
    font-size: 0.392003rem;
    /* 28px */
}

h5 {
    font-size: 0.364003rem;
    /* 26px */
}


p {
    font-size: 0.336003rem;
    /* 24px */
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*底部样式*/

.footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    height: 1.4rem;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    text-align: center;
    border-top: 1px solid #e57c18;
}

/* .footer .col-xs-3 {
    width: 20%;
} */

.footer a {
    cursor: pointer;
    display: inline-block;
}

.footer .active {
    color: #f23030;
}

.footer a .icon {
    margin-top: 0.15rem;
    position: relative;
}

.icon .dbtb {
    width: 0.7rem;
    height: 0.7rem;
    display: block;
}

.footer a .icon span {
    right: 0;
    top: 0.1rem;
}

.footer a .icon p {
    color: #6b6b6b;
    margin-top: 0;
}

.footer a.active .icon p {
    color: #e57c18;
}

.icon-home {
    background: url("../../../assets/home.png") no-repeat;
    background-size: 100% 100%;
}

.footer a.active .icon-home {
    background: url("../../../assets/home2.png") no-repeat;
    background-size: 100% 100%;
}

.icon-baoxian {
    background: url("../../../assets/baoxian.png") no-repeat;
    background-size: 100% 100%;
}

.footer a.active .icon-baoxian {
    background: url("../../../assets/baoxian2.png") no-repeat;
    background-size: 100% 100%;
}

.icon-peijian {
    background: url("../../../assets/peijian.png") no-repeat;
    background-size: 100% 100%;
}

.footer a.active .icon-peijian {
    background: url("../../../assets/peijian2.png") no-repeat;
    background-size: 100% 100%;
}

.icon-order {
    background: url("../../../assets/order.png") no-repeat;
    background-size: 100% 100%;
}

.footer a.active .icon-order {
    background: url("../../../assets/order2.png") no-repeat;
    background-size: 100% 100%;
}

.icon-my {
    background: url("../../../assets/my.png") no-repeat;
    background-size: 100% 100%;
}

.footer a.active .icon-my {
    background: url("../../../assets/my2.png") no-repeat;
    background-size: 100% 100%;
}


/* 头部搜索 */
.from_top {
    margin-top: 1.344011rem;
    overflow: auto;
}

.top-head {
    height: 1.344011rem;
    background: #e57c18;
    width: 100%;
    line-height: 1.344011rem;
    top: 0;
    position: fixed;
    z-index: 999;
}

.top-head.row {
    padding: 0 0.6rem;
}

.top-head img.back {
    width: 0.294002rem;
    height: auto;
    margin-top: 0.43rem;
}

.top-head input {
    width: 6.440052rem;
    height: 0.84rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.4rem;
    border: none;
    float: right;
    padding-left: 0.85rem;
    font-size: 0.336003rem;
    margin-top: 0.25rem;
    color: #fff;
}

.top-head .col-xs-9 img {
    position: absolute;
    top: 0.48rem;
    left: 0.35rem;
    width: 0.378003rem;
    height: auto;
    vertical-align: top;
}

.top-head .col-xs-9 input {
    width: 100%;
    padding-left: 1rem;
    font-size: 0.37rem;
    line-height: 0.85rem;
}
.top-head .col-xs-11 img {
    position: absolute;
    top: 0.48rem;
    left: 0.35rem;
    width: 0.378003rem;
    height: auto;
    vertical-align: top;
}

.top-head .col-xs-11 input {
    width: 100%;
    padding-left: 1rem;
    font-size: 0.37rem;
    line-height: 0.85rem;
}
.top-head p {
    color: #fff;
    font-size: 0.448004rem;
    text-align: right;
}

/* 公共头部样式 */
.app-header .top-head img.back {
    width: 0.294002rem;
    height: auto;
    position: absolute;
    left: -0.03rem;
    top: 0.43rem;
    margin: 0;
}

.app-header .top-head img.share {
    width: 0.504004rem;
    height: auto;
    position: absolute;
    right: 0.25rem;
    top: 0.4rem;
    margin: 0;
}

.app-header .top-head p {
    text-align: center;
}

/* 灰色横条 */
.shadow {
    background: #f5f5f5;
    height: 0.280002rem;
    width: 100%;
    clear: both;
}

/* 无数据 */
.no-data {
    text-align: center;
    margin-top: 1.5rem;
}

.no-data img {
    width: 2.5rem;
    margin: 0 auto;
}

.no-data p {
    font-size: 0.392003rem;
    color: #777777;
    margin-top: 0.3rem;
}

/* 评价五角星样式 */
.five-star {
    width: 100%;
    padding-top: 0.2rem;
    clear: both;
}

.five-star p.star {
    float: left;
}

.five-star p.star img {
    width: 0.4rem;
    height: 0.4rem;
    margin: 0 0.03rem;
}

.van-rate__item {
    padding: 0 0.15rem;
}


/* 弹窗样式 */
.mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    background: #000;
    z-index: 999;
    opacity: 0.6;
}

.popup {
    width: 80%;
    position: fixed;
    top: 30%;
    left: 10%;
    background: #fff;
    border-radius: 0.112001rem;
    z-index: 1001;
}

.popup .van-cell {
    padding: 0;
}

.popup .popup_content {
    text-align: center;
    width: 100%;
    height: 4.48rem
}

.popup .popup_content p {
    font-size: 0.448rem;
    line-height: 0.7rem;
    padding-top: 2.1rem;
}

.popup .popup_content p.two {
    padding-top: 1.6rem;
}

.popup .popup_content p.title {
    padding-top: 0.490004rem;
}

.popup .popup_content textarea {
    border: none;
    background: #f5f5f5;
    width: 85%;
    margin: 0.35rem auto 0;
    color: #333;
    padding: 0.14rem;
    height: 2.52002rem;
    font-family: "微软雅黑";
    font-size: 0.392003rem;
    outline: none;
}

.popup .popup_content .five-star {
    /* width: 5.4rem; */
    margin: 0.8rem auto;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup .popup_content .five-star p {
    padding: 0;
    margin: 0 0.12rem;
}

.popup .popup_content .five-star p.star img {
    float: left;
    width: 0.78rem;
    height: 0.78rem;
}

.popup .popuo_footer {
    /* border-top: 1px solid #ebebeb; */
    height: 1.28rem;
}

.popup .popuo_footer button {
    float: left;
    width: 50%;
    height: 1.28rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.392003rem;
    color: #333;

}

.popup .popuo_footer .cancel {
    margin-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb
}

.popup .popuo_footer .ensure {
    background: #e57c18;
    color: #fff;
    border-bottom-right-radius: 0.112001rem;
    /* border-bottom-left-radius: 0.112001rem; */
}

.popup .popuo_footer .ensure.but {
    width: 100%;
}

/* switch开关样式 */
.mui-switch {
    width: 1.2rem;
    height: 0.6rem;
    position: relative;
    border: 1px solid #adadad;
    background-color: #adadad;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 0.28rem;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    border-bottom-left-radius: 0.28rem;
    border-bottom-right-radius: 0.28rem;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
    margin: 0;
}

.mui-switch:before {
    content: '';
    width: 0.54rem;
    height: 0.54rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.28rem;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    border-bottom-left-radius: 0.28rem;
    border-bottom-right-radius: 0.28rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
    border-color: #29d32d;
    box-shadow: #29d32d 0 0 0 16px inset;
    background-color: #29d32d;
}

.mui-switch:checked:before {
    left: 0.6rem;
}

.mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #29d32d;
    transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #29d32d 0 0 0 16px inset;
    background-color: #29d32d;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}

/* radio样式 */

.radioGroup {
    overflow: hidden;
}

.radioGroup .info {
    line-height: 36px;
    display: inline-block;
    float: left;
    margin-right: 0.63rem;
}

.radiobox {
    position: relative;
    top: 9px;
    float: left;
    width: 0.532rem;
    height: 0.532rem;
    border-radius: 100%;
}

.radiobox input {
    position: relative;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    margin: 0;
}

.radiobox span {
    position: absolute;
    top: 0;
    width: 0.532rem;
    height: 0.532rem;
    background: url(../../../assets/radio.png) no-repeat;
    background-size: 100%;
    z-index: 1;
    border-radius: 100%;
}

.radiobox input[type='radio']:checked+span {
    background: url(../../../assets/radioChecked.png) no-repeat;
    background-size: 100%;
}

.radiobox input[type='checkbox']:checked+span {
    background: url(../../../assets/radioChecked.png) no-repeat;
    background-size: 100%;
}

.radioGroup .info p {
    line-height: 36px;
    margin-left: 28px;
    color: #333333;
    font-size: 0.392rem;
}

/* checkBox样式 */

.checkboxGroup {
    overflow: hidden;
}

.checkboxGroup .info {
    line-height: 36px;
    display: inline-block;
    float: left;
    margin-right: 0.63rem;
}

.checkbox {
    position: relative;
    top: 30px;
    float: left;
    width: 0.532rem;
    height: 1.5rem;
    border-radius: 100%;
}

.checkbox input {
    position: relative;
    top: -7px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
}

.checkbox span {
    position: absolute;
    top: 0;
    width: 0.532rem;
    height: 0.532rem;
    background: url(../../../assets/check.png) no-repeat;
    background-size: 100%;
    z-index: 1;
}

.checkbox input[type='checkbox']:checked+span {
    background: url(../../../assets/checked.png) no-repeat;
    background-size: 100%;
}

.checkboxGroup .info p {
    line-height: 36px;
    margin-left: 28px;
    color: #333333;
    font-size: 0.392rem;
}

.checkAll .info p {
    line-height: 36px;
    margin-left: 28px;
    color: #333333;
    font-size: 0.392rem;
}