.btnLight {
    background-color: #e57f10;
}

.btndefault {
    background: #f2bf87;
}

.btnCodeDefault {
    margin-top: 0.308rem;
    border-radius: 2%;
    height: 0.98rem;
    line-height: 0.98rem;
    width: 2.744rem;
    color: #fff;
    text-align: center;
    border: none;
}

.loginbody {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;

}

.login {
    .panel {
        background: #fff;
        position: relative;
        z-index: 99;
    }

    .home_logo {
        width: 4.5rem;
        margin: 0 auto 0.8rem;
    }

    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777 !important;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777 !important;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777 !important;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777 !important;
    }

    button {
        padding: 0;
    }

    .col-xs-1 {
        margin-right: 0.42rem;
    }

    .col-xs-2 {
        margin-right: 0.2rem;
    }

    .col-xs-11 {
        padding: 0px;
        margin: 0px;
    }

    padding: 2.702rem 0.77rem 0rem 0.77rem;
    font-size: 0.392rem;

    img {
        width: 0.504rem;
    }

    .phone,
    .password {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: 1.47rem;

        input[type="text"] {
            color: #333;
            font-size: 0.392rem;
            border: none;
            width: 100%;
        }

        input[type="password"] {
            color: #333;
            font-size: 0.392rem;
            border: none;
            width: 100%;
        }

        input:focus {
            -webkit-user-modify: read-write-plaintext-only;
            -webkit-tap-highlight-color: transparent;
            outline: none;
        }
    }

    .loginBtn {
        background: #e57f10;
        margin-top: 0.91rem;
        font-size: 0.396rem;
        border-radius: 2%;
        height: 1.26rem;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .login_find {
        margin-top: 0.196rem;
        display: flex;
        color: #777;

        .findtext {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 0.84rem;
        }

        .register1 {
            color: #f88f1c;
            position: relative;
        }

        .register1::before {
            content: "";
            top: 25%;
            left: 0;
            height: 50%;
            position: absolute;
            border-left: 1px #ddd solid;
        }
    }

    .login_foot {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 80%;
        margin: 0 auto 0.6rem;

        p {
            font-size: 0.308rem;
            color: #cdcdcd;
            width: 2.8rem;
            background: #fff;
            margin: 0 auto;
            position: absolute;
            top: -0.12rem;
            left: 0;
            right: 0;
        }

        hr {
            height: 1px;
            box-sizing: content-box;
            border: none;
            border-top: 1px solid #cdcdcd;
            margin-bottom: 0.55rem;
        }

        img {
            width: 1.344rem;
            margin: 0 auto;
        }
    }
}

// 微信登录
.wechat_login {
    .home_logo {
        width: 4.5rem;
        margin: 0 auto 0.8rem;
    }

    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777;
    }

    .col-xs-1 {
        margin-right: 0.42rem;
    }

    .col-xs-2 {
        margin-right: 0.2rem;
    }

    .col-xs-11 {
        padding: 0px;
        margin: 0px;
    }

    button {
        padding: 0;
    }

    input[type="text"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input[type="password"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input:focus {
        -webkit-user-modify: read-write-plaintext-only;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    padding: 2.702rem 0.77rem 0rem 0.77rem;
    font-size: 0.392rem;

    img {
        width: 0.504rem;
    }

    .wx_phone {
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.47rem;
    }

    .wx_password {
        display: flex;
        height: 1.47rem;
    }

    .wx-codetxt {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: 1.47rem;
        margin-right: 0.308rem;
    }

    .wx_code {
        margin-top: 0.308rem;
        background: #e57f10;
        border-radius: 2%;
        height: 0.98rem;
        line-height: 0.98rem;
        width: 2.744rem;
        color: #fff;
        text-align: center;
        border: none;
    }

    .register_code {
        margin-top: 0.308rem;
        background: #f2bf87;
        border-radius: 2%;
        height: 0.98rem;
        line-height: 0.98rem;
        width: 2.744rem;
        color: #fff;
        text-align: center;
        border: none;
    }

    .pf_loginBtn {
        background: #e57f10;
        margin-top: 1.4rem;
        border-radius: 2%;
        height: 1.26rem;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 0.396rem;
    }

    .wx_loginBtn {
        background: #e57f10;
        margin-top: 1.358rem;
        border-radius: 2%;
        height: 1.26rem;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 0.396rem;
    }

    .wx-loginfoot {
        margin-top: 4.06rem;
        text-align: center;
        position: relative;

        p {
            font-size: 0.308rem;
            color: #cdcdcd;
            width: 2.8rem;
            background: #fff;
            margin: 0 auto;
            position: absolute;
            top: -0.22rem;
            left: 0;
            right: 0;
        }

        hr {
            height: 1px;
            box-sizing: content-box;
            border: none;
            border-top: 1px solid #cdcdcd;
            margin-bottom: 0.55rem;
        }

        h5 {
            color: #777;
            text-indent: 2em;
            font-weight: normal;
            font-size: 0.308rem;
            text-align: left;
        }
    }
}

// 找回密码
.password_find {
    padding: 0.84rem 0.77rem 0rem 0.77rem;
    font-size: 0.392rem;

    .home_logo {
        width: 4.5rem;
        margin: 0 auto 0.8rem;
    }

    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777;
    }

    .col-xs-1 {
        margin-right: 0.42rem;
    }

    .col-xs-2 {
        margin-right: 0.2rem;
    }

    .col-xs-11 {
        padding: 0px;
        margin: 0px;
    }

    button {
        padding: 0;
    }

    .col-xs-3,
    .col-xs-9,
    .col-xs-10,
    .col-xs-4,
    .col-xs-6,
    .col-xs-8 {
        padding: 0px;
        margin: 0px;
    }

    header {
        height: inherit;
    }

    input[type="text"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input[type="password"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input:focus {
        -webkit-user-modify: read-write-plaintext-only;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    img {
        width: 0.504rem;
    }

    .pf_phone {
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.47rem;
    }

    .pf_password {
        display: flex;
        height: 1.47rem;
    }

    .pf-codetxt {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: 1.47rem;
        margin-right: 0.308rem;
    }

    .pf_code {
        margin-top: 0.308rem;
        background: #e57f10;
        border-radius: 2%;
        height: 0.98rem;
        line-height: 0.98rem;
        width: 2.744rem;
        color: #fff;
        text-align: center;
        border: none;
    }

    .register_code {
        margin-top: 0.308rem;
        background: #f2bf87;
        border-radius: 2%;
        height: 0.98rem;
        line-height: 0.98rem;
        width: 2.744rem;
        color: #fff;
        text-align: center;
        border: none;
    }

    .pf_loginBtn {
        background: #e57f10;
        margin-top: 1.4rem;
        border-radius: 2%;
        height: 1.26rem;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 0.396rem;
    }
}

// 再次输入密码
.enter_password {

    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777;
    }

    input[type="text"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input[type="password"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input:focus {
        -webkit-user-modify: read-write-plaintext-only;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    button {
        padding: 0;
    }

    .col-xs-1 {
        margin-right: 0.42rem;
    }

    .col-xs-2 {
        margin-right: 0.2rem;
    }

    .col-xs-11 {
        padding: 0px;
        margin: 0px;
    }

    padding: 0.84rem 0.77rem 0rem 0.77rem;
    font-size: 0.392rem;

    img {
        width: 0.504rem;
    }

    .sed_password,
    .password {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: 1.47rem;
    }

    .enterBtn {
        background: #e57f10;
        margin-top: 1.4rem;
        border-radius: 2%;
        height: 1.26rem;
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 0.396rem;
    }
}

//用户协议
.user_agreement {
    padding: 0.56rem 0.63rem 0rem 0.63rem;
    color: #333;

    h5 {
        font-size: 0.42rem;
        text-align: center;
        display: block;
        margin-bottom: 0.35rem;
    }

    p {
        font-size: 0.336rem;
        text-align: left;
        text-indent: 2em;
        line-height: 0.5rem;
    }
}

// 注册
.register {
    .home_logo {
        width: 4.5rem;
        margin: 0 auto 0.8rem;
    }

    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777;
    }

    input[type="text"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input[type="password"] {
        color: #333;
        font-size: 0.392rem;
        border: none;
        width: 100%;
    }

    input:focus {
        -webkit-user-modify: read-write-plaintext-only;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    .col-xs-1 {
        margin-right: 0.42rem;
    }

    .col-xs-2 {
        margin-right: 0.2rem;
    }

    .col-xs-11 {
        padding: 0px;
        margin: 0px;
    }

    padding: 2.702rem 0.77rem 0rem 0.77rem;
    font-size: 0.392rem;

    img {
        width: 0.504rem;
    }

    .pf_code {
        margin-top: 0.308rem;
        background: #e57f10;
        border-radius: 2%;
        height: 0.98rem;
        line-height: 0.98rem;
        width: 2.744rem;
        color: #fff;
        text-align: center;
        border: none;
    }

    .phone,
    .password {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: 1.47rem;
    }

    .register_password {
        display: flex;
        height: 1.47rem;
    }

    .register-codetxt {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: 1.47rem;
        margin-right: 0.308rem;
    }

    .register_code {
        margin-top: 0.308rem;
        background: #f2bf87;
        border-radius: 2%;
        height: 0.98rem;
        line-height: 0.98rem;
        width: 2.744rem;
        color: #fff;
        text-align: center;
        border: none;
    }

    .registerText {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.47rem;
        color: #777;

        .regCheckbox {
            position: relative;
            margin-right: 0.42rem;
            width: 0.508rem;
            height: 0.508rem;

            label {
                position: absolute;
                opacity: 1;
                cursor: pointer;
                width: 0.508rem;
                height: 0.508rem;
                top: 0;
                left: 0;
                border-radius: 3px;
                background: transparent;
                border: 1px solid #ddd;
            }

            label:after {
                content: "";
                width: 9px;
                height: 5px;
                position: absolute;
                top: 3px;
                left: 3px;
                border: 3px solid #fff;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 0;
                transform: rotate(-45deg);
            }

            input[type="checkbox"]:checked+label:after {
                opacity: 1;
            }

            input[type="checkbox"]:checked+label {
                background: #e57f10;
                border: none;
            }

            input[type="checkbox"] {
                position: absolute;
                opacity: 0;
                z-index: 2;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                border: 1px solid #ddd;
                background: #fff;
            }
        }

        a {
            color: #fc8715;
        }

        span {
            color: #fc8715;
        }
    }

    .registerSure {
        button {
            // background: #f2bf87;
            margin-top: 0.91rem;
            border-radius: 2%;
            height: 1.26rem;
            width: 100%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }
    }

    // .registerBtn {
    //     background: #f2bf87;
    //     margin-top: 0.91rem;
    //     border-radius: 2%;
    //     height: 1.26rem;
    //     width: 100%;
    //     color: #fff;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     border: none;
    // }

    .tologin {
        color: #f88f1c;
        margin-top: 0.42rem;
        text-align: center;
    }
}

// 选择车型
.ChooseModels {
    .top-head input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    .top-head input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    .top-head input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba(255, 255, 255, 0.6) !important;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgba(255, 255, 255, 0.6) !important;
    }

    .cardetail {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 2001;

        .col-xs-9 {
            background: #fff;
            height: 100%;
            float: right;
            overflow: scroll;

            .chooseCar:last-child {
                border-bottom: 1px solid #eee;
            }

            .title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                line-height: 1.274rem;
                // border-bottom: 1px solid #eee;

                img {
                    margin-left: 0.21rem;
                    float: left;
                    width: 0.7rem;
                }

                p {
                    color: #333;
                    margin-left: 0.21rem;
                    font-size: 0.396rem;
                }
            }

            h5 {
                padding: 0rem 0.21rem;
                font-size: 0.336rem;
                color: #777;
                line-height: 0.882rem;
                background-color: #f5f5f5;
                font-weight: normal;
            }

            .detail {
                padding: 0rem 0.21rem;
                line-height: 1.274rem;
                color: #333;
                font-size: 0.396rem;
                border-bottom: 1px solid #eee;
            }


        }
    }

    .cardetail .col-xs-9 .detail:last-child {
        border-bottom: none;
    }

    .searchshawdom {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 100;
    }

    .carSearch {
        position: relative;

        input {
            width: 8.414rem;
            height: 0.84rem;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 0.4rem;
            border: none;
            float: left;
            padding-left: 0.95rem;
            font-size: 0.336rem;
            margin-top: 0.25rem;
            color: #fff;
            line-height: 0.85rem;
        }

        .col-xs-11 img {
            position: absolute;
            top: 0.48rem;
            left: 0.35rem;
            width: 0.378003rem;
            height: auto;
            vertical-align: top;
        }
    }

    .carbody {
        .carHot {
            margin: 0rem 0.56rem 0.378rem 0.21rem;

            h3 {
                font-size: 0.336rem;
                color: #777;
                line-height: 1.19rem;
            }

            .hotContent {
                border-top: 1px solid #eee;
                border-left: 1px solid #eee;
                display: flex;
                flex-wrap: wrap;
                // justify-content: center;
                align-items: center;

                .hotItem {
                    width: 20%;
                    text-align: center;
                    border-right: 1px solid #eee;
                    border-bottom: 1px solid #eee; // padding: 0.21rem 0.35rem 0rem 0.35rem;
                    box-sizing: border-box;
                    padding: 0.2rem 0;

                    img {
                        width: 0.8rem;
                        height: 0.8rem;
                        margin: 0.1rem auto 0.1rem;
                    }

                    p {
                        line-height: 0.672rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }

        .chooseCar {

            h5 {
                padding: 0rem 0.21rem;
                font-size: 0.336rem;
                color: #777;
                line-height: 0.882rem;
                background-color: #f5f5f5;
                font-weight: normal;
            }

            .chooseContent {
                margin: 0rem 0.21rem;

                .items {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    line-height: 1.274rem;
                    border-bottom: 1px solid #eee;
                }

                .items:last-child() {
                    border-bottom: none;
                }

                img {
                    float: left;
                    width: 0.7rem;
                }

                p {
                    color: #333;
                    margin-left: 0.21rem;
                    font-size: 0.396rem;
                }
            }
        }
    }

    // 汽车选择
    .choosecar11 {
        .letter-item {
            a.title {
                padding: 0rem 0.21rem;
                font-size: 0.336rem;
                color: #777;
                display: block;
                line-height: 0.882rem;
                background-color: #f5f5f5;
                font-weight: normal;
            }

            a.title2 {
                padding: 0rem 0.21rem;
                font-size: 0.336rem;
                color: #777;
                display: block;
                line-height: 0.882rem;
                background-color: #f5f5f5;
                font-weight: normal;
            }

            .items2 {
                margin: 0rem 0.21rem;
                color: #333;
                margin-left: 0.21rem;
                font-size: 0.396rem;
                line-height: 1.274rem;
                border-bottom: 1px solid #eee;
            }

            .itemscar {
                margin: 0rem 0.21rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                line-height: 1.274rem;
                border-bottom: 1px solid #eee;
            }

            .itemscar:last-child() {
                border-bottom: none;
            }

            img {
                float: left;
                width: 0.7rem;
            }

            p {
                color: #333;
                margin-left: 0.21rem;
                font-size: 0.396rem;
            }
        }

        .letter-aside {
            position: fixed;
            right: 0.05rem;
            top: 2.4rem;

            ul {
                list-style: none;
                line-height: 0.6rem;
                font-size: 0.336rem;
                color: #e57c18;

                li {
                    display: inherit;
                }
            }
        }

        d #tip {
            margin: 0rem 0.21rem;
            line-height: 1.274rem;
            border-bottom: 1px solid #eee;
            color: #333;
            font-size: 0.396rem;
        }
    }

    .ChooseModels .choosecar11 .letter-item .itemscar:last-child {
        border: none;
    }
}

//选择生产年份
.ChooseYear {
    .yearTop {
        display: flex;
        align-items: center;
        line-height: 1.274rem;
        padding: 0rem 0.21rem;

        img.icon {
            float: left;
            width: 0.7rem;
        }

        span {
            color: #333;
            margin: 0rem 0.21rem;
            font-size: 0.396rem;
        }

        img {
            width: 0.21rem;
        }
    }

    h5 {
        padding: 0rem 0.21rem;
        font-size: 0.396rem;
        color: #777;
        line-height: 1.134rem;
        background-color: #f5f5f5;
        font-weight: normal;
    }

    .chooseContent {
        .items {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            line-height: 1.274rem;
            border-bottom: 1px solid #eee;
        }

        p {
            color: #333;
            padding-left: 0.21rem;
            font-size: 0.396rem;
        }
    }
}

// 根据年份选择车型
.ChooseCar {
    .yearTop {
        display: flex;
        align-items: center;
        line-height: 1.274rem;
        padding: 0rem 0.21rem;

        img.icon {
            float: left;
            width: 0.7rem;
        }

        span {
            color: #333;
            margin: 0rem 0.21rem;
            font-size: 0.396rem;
        }

        img {
            width: 0.21rem;
        }
    }

    .divcar {
        padding: 0rem 0.21rem;
        font-size: 0.396rem;
        color: #777;
        line-height: 1.134rem;
        background-color: #f5f5f5;
        font-weight: normal;
        display: flex;
        align-items: center;

        span {
            color: #e57c18;
            float: left;
        }

        img {
            width: 0.112rem;
            float: left;
            margin: 0rem 0.14rem;
            // margin-top: 30%;

        }

        p {
            font-size: 0.396rem;
            color: #777;
            line-height: 1.134rem;
        }
    }

    .chooseContent {
        .items {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            line-height: 1.274rem;
            border-bottom: 1px solid #eee;

            p {
                color: #333;
                padding-left: 0.21rem;
                font-size: 0.396rem;
            }
        }
    }
}

// 预约车险
.CarInsurance {
    .van-hairline--top-bottom::after {
        border-width: 0;
    }

    // .timetop.car .van-hairline--top-bottom::after{
    //     border: 1px solid #000;
    // }
    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777;
    }

    input {
        border: 1px solid #777;
    }

    .radiobox {
        // position: relative;
        // top: 9px;
        // float: left;
        width: 0.56rem;
        height: 0.56rem;
        border-radius: 100%;
    }

    .radiobox input {
        position: relative;
        top: -7px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        opacity: 0;
    }

    .radiobox span {
        position: absolute;
        top: 0;
        width: 0.56rem;
        height: 0.56rem;
        background: url(../../../assets/radio.png) no-repeat;
        background-size: 100%;
        z-index: 1;
        border-radius: 100%;
    }

    .radiobox input[type="radio"]:checked+span {
        background: url(../../../assets/payRadioBtn.png) no-repeat;
        background-size: 100%;
    }

    .radiobox input[type="checkbox"]:checked+span {
        background: url(../../../assets/payRadioBtn.png) no-repeat;
        background-size: 100%;
    }

    .insuranceTop {
        p {
            text-align: center;
        }

        .col-xs-3 p {
            font-size: 0.396rem;
            text-align: right;
        }
    }

    .imgtop {
        text-align: center;

        img {
            height: 2.24rem;
            width: 100%;
        }

        p {
            margin-top: 0.28rem;
            line-height: 0.7rem;
            font-size: 0.396rem;
        }

        h1 {
            margin-bottom: 0.28rem;
            line-height: 0.98rem;
            font-size: 0.84rem;
            color: #e57c18;
            font-weight: 600;
        }
    }

    .insuranceTime {
        margin: 0.28rem 0.21rem;
        display: flex;
        flex-direction: column;

        .inputBox_c {
            position: relative;
            margin-top: 0.42rem;
            height: 1.82rem;

            p {
                line-height: 0.84rem;
                font-size: 0.336rem;
            }

            select {
                position: absolute;
                top: 0.84rem;
                left: 0;
                color: #e57c18;
                width: 100%;
                height: 0.98rem;
                outline: none;
            }

            .carselect {
                position: relative;
                height: 0.98rem;

                input {
                    height: 0.98rem;
                    width: 100%;
                    font-size: 0.396rem;
                    padding: 0rem 0.21rem;
                    outline: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                img {
                    width: 0.396rem;
                    position: absolute;
                    right: 0.21rem;
                    top: 0.35rem;
                }
            }
        }

        .inputBox_t {
            position: relative;

            p {
                line-height: 0.84rem;
                font-size: 0.336rem;
            }

            span {
                color: #777;
                font-size: 0.396rem;
                line-height: 0.98rem;
                float: left;
                width: 8%;
                text-align: center;
            }

            select {
                float: left;
                color: #e57c18;
                width: 46%;
                height: 0.98rem;
                outline: none;
            }

            .select2 {
                float: right;
            }

            .timeselect {
                position: relative;
                width: 46%;
                float: left;
                height: 0.98rem;

                input {
                    height: 0.98rem;
                    width: 100%;
                    font-size: 0.396rem;
                    padding: 0rem 0.21rem;
                    outline: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                img {
                    width: 0.396rem;
                    position: absolute;
                    right: 0.21rem;
                    top: 0.35rem;
                }
            }
        }

        .content2 {
            margin: 0.35rem 0rem 0.21rem 0rem;

            p {
                // line-height: 0.7rem;
                font-size: 0.336rem;
                color: #a0a0a0;
                text-align: left;
                padding: 0.14rem 0rem;
            }
        }
    }

    .paytype {
        margin: 0.14rem 0.21rem;
        color: #333;

        h3 {
            font-size: 0.448rem;
            color: #333;
            line-height: 1.12rem;
            font-weight: 600;
        }

        .payitem {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.26rem;

            img {
                width: 0.728rem;
            }

            .col-xs-10 {
                margin-left: 0.42rem;
                font-size: 0.396rem;
            }
        }
    }

    .submitCarInsur {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 2000;
    }

    .fixmargin {
        height: 1.358rem;
        width: 100%;
        overflow: hidden;
    }

    .submit {
        border-top: 1px #dbdbdb solid;
        height: 1.358rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;

        button {
            line-height: 0.98rem;
            width: 95%;
            background: #e57c18;
            border-radius: 0.7rem;
            color: #fff;
            font-size: 0.396rem;
            border: 1px solid #e57c18;
            outline: none;
        }
    }



    .popup-car {
        .van-picker-column__item {
            height: 1.12rem;
            // margin-right: 1.04rem;
            position: relative;
            color: #9a9a9a;
            float: left;
            // margin-left: 0.6rem;
            width: 1.96rem;
        }

        .van-picker-column__item--selected {
            border: none;
            height: 1.12rem;
            color: #333;
            border-top: 1px solid #e57c18;
            border-bottom: 1px solid #e57c18;
        }

        .van-picker {
            margin: 0.84rem 0rem;
            padding: 0rem 0.42rem;
            background: rgba(255, 255, 255, 0);

            .van-picker__toolbar {
                display: none !important;
            }
        }

        .van-picker__toolbar {
            display: none !important;
            height: 0;

            .van-picker__cancel {
                display: none !important;
            }
        }

        .timetop {
            display: flex;
            align-items: center;
            line-height: 1.26rem;
            font-size: 0.396rem;
            color: #333;
            border-bottom: 1px solid #dbdbdb;

            .col-xs-10 {
                text-align: center;
            }

            img {
                width: 0.434rem;
            }
        }


    }


    .chooseCar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 7.28rem;
        width: 100%;
        background-color: #fff;
    }

    .van-picker {
        background-color: rgba(0, 0, 0, 0)
    }


    .time_newchange {
        position: relative;

        .date_year {
            height: 0.98rem;
            position: absolute;
            padding: 0rem 0.42rem;
            left: 0;
            width: 100%;
            color: #333;
            top: 21%;
            z-index: 0;
            height: 44px;

            li {
                font-size: 0.392rem;
                float: left;
                width: 33.33333%;
                text-align: right;
                padding-right: 0.24rem;
                line-height: 44px;
            }
        }
    }

    .carshow {
        .van-picker {
            margin: 0rem;

            .van-picker__toolbar {
                display: none !important;
            }
        }

        .van-picker-column__item--selected {
            border: none;
            height: 1.12rem;
        }

        .van-picker-column__item {
            height: 1.12rem;
            position: relative;
            margin: 0rem;
            color: #333;
            width: 100%;
            border-bottom: 1px solid #eee;
        }
    }
}

// 预约成功
.succeed {
    .succeedcontent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1.5rem 1.26rem 0rem 1.26rem;

        h2 {
            font-size: 0.448rem;
            color: #333;
            line-height: 1.05rem;
        }

        img {
            width: 1.26rem;
        }

        .content {
            padding-top: 0.28rem;

            p {
                color: #888;
                line-height: 0.7rem;
                font-size: 0.336rem;
            }
        }

        .succeeBtn {
            margin-top: 0.63rem;
            padding: 0.2rem 0;

            .upkeep {
                height: 0.98rem;
                width: 3rem;
                background: #fff;
                border-radius: 0.7rem;
                color: #e57c18;
                font-size: 0.396rem;
                border: 1px solid #e57c18;
                outline: none;
                margin-right: 0.7rem;
            }

            .myUpkeep {
                height: 0.98rem;
                width: 3rem;
                background: #e57c18;
                border-radius: 0.7rem;
                color: #fff;
                font-size: 0.396rem;
                border: 1px solid #e57c18;
                outline: none;
            }
        }
    }
}

// 保养订单确认
.UpkeepSubmit {

    /*修改提示文字的颜色*/
    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #777 !important;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #777 !important;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #777 !important;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #777 !important;
    }

    .UpkeepContent {
        padding: 0rem 0.21rem;

        p {
            color: #333;
            font-size: 0.336rem;
            margin-top: 0.21rem;
            line-height: 1.26rem;

            span {
                font-size: 0.396rem;
                font-weight: 600;
                margin: 0rem 0.21rem;
            }
        }

        .upkeepTime {
            position: relative; // margin-top: 0.42rem;
            height: 1.82rem;

            p {
                margin: 0;
                line-height: 0.84rem;
                font-size: 0.336rem;
            }

            select {
                // position: absolute;
                // top: 0.84rem;
                // left: 0;
                color: #e57c18;
                width: 100%;
                height: 0.98rem;
                outline: none;
            }

            input {
                height: 0.98rem;
                width: 100%;
                font-size: 0.396rem;
                padding: 0rem 0.21rem;
                outline: none;
                position: absolute;
                top: 0.9rem;
                left: 0;
            }

            img {
                width: 0.396rem;
                position: absolute;
                right: 0.21rem;
                top: 0.35rem;
            }
        }

        .submitBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                margin-top: 1.12rem;
                height: 1.12rem;
                width: 5.04rem;
                background: #e57c18;
                border-radius: 0.07rem;
                color: #fff;
                font-size: 0.396rem;
                border: 1px solid #e57c18;
                outline: none;
            }
        }
    }
}

// 我的保险预约单
.carnumber .van-picker-column ul {
    transform: translate3d(0px, 0px, 0px) !important;
}

.CarInsuranceList {

    .nodata {
        text-align: center;
        padding-top: 1.82rem;
    }

    .nodata img {
        width: 2.758rem;
        height: auto;
        margin: 0 auto;
    }

    .nodata p {
        margin-top: 0.49rem;
        color: #777777;
        font-size: 0.392rem;
    }

    .nodata button {
        background: #e57c18;
        font-size: 0.448rem;
        color: #fff;
        width: 5.04rem;
        height: 1.12rem;
        border: none;
        border-radius: 3px;
        margin-top: 0.532rem;
    }

    .insuranceList {
        color: #333;
        font-size: 0.396rem;

        .content1 {
            padding: 0.14rem 0.21rem;
            border-bottom: 1px solid #eee;

            p {
                font-size: 0.396rem;
                color: #333;
                line-height: 0.84rem;
            }
        }

        .paystatus {
            padding: 0.14rem 0.21rem;
            border-bottom: 1px solid #eee;
            line-height: 1.12rem;
            overflow: hidden;

            p {
                font-size: 0.336rem;
                float: left;
            }

            span {
                color: #e57c18;
                float: right;
                font-size: 0.396rem;
            }
        }

        .price {
            padding: 0.14rem 0.21rem;
            border-bottom: 1px solid #eee;
            line-height: 1.26rem;
            overflow: hidden;

            span {
                color: #e57c18;
            }

            .listbtn {
                float: right;

                .pay {
                    border: 1px solid #e57c18;
                    color: #e57c18;
                }

                button {
                    float: right;
                    text-align: center;
                    width: 1.96rem;
                    height: 0.84rem;
                    line-height: 0.84rem;
                    border-radius: 0.84rem;
                    background: none;
                    border: 1px solid #adadad;
                    margin: 0.21rem 0 0 0.28rem;
                    font-size: 0.392003rem;
                    color: #333;
                    padding: 0;
                }
            }
        }
    }
}