.login {
    margin: 2.702rem 0.77rem 0rem 0.77rem;
    font-size: 0.392rem;
}

/*修改提示文字的颜色*/

.login input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #777;
}

.login input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777;
}

.login input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777;
}

.login input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #777;
}



.login img {
    width: 0.672rem;
}

.login .phone,
.login .password {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.014rem solid #ddd;
    height: 1.47rem;
}

.login .phone,
.login .password .col-xs-2 .col-xs-10 {
    padding: 0px;
    margin: 0px;
}

.login .phone,
.login .password .col-xs-10 {
    padding: 0px;
    margin: 0px;
}

.login input[type="text"] {
    color: #333;
    font-size: 0.392rem;
    border: none;
    width: 100%;
}

.login input:focus {
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}


.login .loginBtn {
    background: #f88f1c;
    margin-top: 0.91rem;
    border-radius: 2%;
    height: 1.26rem;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login_find {
    margin-top: 0.196rem;
    display: flex;
    color: #777;
}

.login .login_find .findtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 0.84rem;
}

.login .login_find .register {
    color: #f88f1c;
    position: relative;
}

.login .login_find .register::before {
    content: "";
    top: 25%;
    left: 0;
    height: 50%;
    position: absolute;
    border-left: 1px #ddd solid;
}


.login .login_foot {
    margin-top: 4.06rem;
    text-align: center;
    position: relative;
}

.login .login_foot p {
    font-size: 0.308rem;
    color: #cdcdcd;
    width: 2.8rem;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -0.22rem;
    left: 0;
    right: 0;
}

.login .login_foot hr {
    height: 0.014rem;
    box-sizing: content-box;
    border: none;
    border-top: 0.014rem solid #cdcdcd;
    margin-bottom: 0.55rem;
}

.login .login_foot img {
    width: 1.792rem;
    margin: 0 auto;
}